@media (min-width:340px) and (max-width: 640px){

	$font: "Open Sans", sans-serif;

	h1,h2,h3,p { font-family: $font; }
	h2,h3 { font-weight: normal; }
	h1,p { font-weight: lighter; }
	h1 { font-size: 2.25em; }
	p { font-size: 1.25em; }
	h2 { font-size: 1.75em; }
	h3 { font-size: 1.125em; }

	section {
		width: 500px;
		margin-bottom: 250px;
		margin-left: auto;
		margin-right: auto;
	}

	input[type="text"] {
		  display: block;
		  margin: 0;
		  width: 100%;
		  appearance: none;
		  box-shadow: none;
		  border-radius: none;
		  font-family: $font;
		  font-size: 1.125em;
	}

	select[type="drop-down"] {
		  display: block;
		  margin-top: 30px;
		  width: 100%;
		  font-family: $font;
		  font-size: 1.125em;
		  appearance: none;
		  box-shadow: none;
		  border-radius: none;
	}

	.positionRelative { position: relative; }

	.fold {
		width: 100%;
		height: auto;
	}

	.centered {
		max-width: 80%;
		margin: 0 auto;
	}

	.orangeBG { background: #FF8700; }

	.photoCenter {
		display: block;
		margin: 0 auto;
	}

	.input-and-selectList {
		list-style: none;
		margin-top: 30px;
		padding-left: 0px;
	}

	.style input[type="text"] {
		padding: 10px;
		border: none;
		border-bottom: solid 1px #c9c9c9;
		transition: border 0.3s;
	}

	.style select[type="drop-down"] {
		  padding: 10px;
		  border: none;
		  border-bottom: solid 2px #c9c9c9;
		  transition: border 0.3s;
	}

	.footer-links {
		list-style: none;

		li {
			float: left;
			margin-left: 10px;
			font-family: $font;
		  	font-size: 0.75em;
		}
	}

	.links { margin-top: 5px; }

	#navigation { display: none; }

	#content1 {
		width: 500px;
		text-align: center;
		padding-top: 100px;
		margin: 0 auto;
	}

	#content2 { padding-top: 190px; }

	#content2Text {
		width: 300px;
		padding-bottom: 50px;
		margin: 0 auto;
		text-align: center;
	}

	#content3 {
		padding-top: 100px;
		padding-bottom: 150px;
		padding-left: 80px;
	}

	#backgroundPhoto {
		background: url('/responsive/images/image4.png') bottom right no-repeat;
		height: 680px;
	}

	#backgroundPhoto2 {
		background-image: url('/responsive/images/Rectangle 1.png') center no-repeat;
		background-size: cover;
	}

	#content3Text { width: 300px; }

	#content4 {
		width:  200px;
		padding-top: 190px;
		top: -550px;
		margin: 0 auto;
	}

	#content4Text {
		width: 400px;
		padding-top: 400px;
		margin-left: 50px;
		text-align: center;
	}

}