@import 'compass/css3';
@import 'responsivegrid';
@import '_mediaQueries_desktop';
@import '_mediaQueries_tablet';
@import '_mediaQueries_mobile';


body {
	margin: 0;
	width: 100%;
	height: 100%;
	background: white;
	font-size: 16px;
}

