/* line 5, ../sass/_responsivegrid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/scripts/boxsizing.htc);
  /*	If you need support for IE7 and lower make 
  	sure the boxsizing.htc file is linked properly.
  	More info here:  https://github.com/Schepp/box-sizing-polyfill */
}

/*	MAIN CONTAINER 
	Set the width to whatever you want the width of your site to be. */
/* line 18, ../sass/_responsivegrid.scss */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/*	SELF CLEARING FLOATS - CLEARFIX METHOD */
/* line 28, ../sass/_responsivegrid.scss */
.container:after,
.row:after,
.col:after,
.clr:after,
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* 	DEFAULT ROW STYLES 
	Set bottom padding according to preference */
/* line 40, ../sass/_responsivegrid.scss */
.row {
  padding-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
}

/* DEFAULT COLUMN STYLES */
/* line 47, ../sass/_responsivegrid.scss */
.col {
  display: block;
  float: left;
  width: 100%;
}

@media (min-width: 700px) {
  /* line 55, ../sass/_responsivegrid.scss */
  .gutters .col {
    margin-left: 0;
  }

  /* line 59, ../sass/_responsivegrid.scss */
  .gutters .col:first-child {
    margin-left: 0;
  }
}
/*	COLUMN WIDTH ON DISPLAYS +768px 
	You might need to play with media queries here to suite your design. */
@media (min-width: 1000px) {
  /* line 70, ../sass/_responsivegrid.scss */
  .span_1 {
    width: 8.33333333333%;
  }

  /* line 71, ../sass/_responsivegrid.scss */
  .span_2 {
    width: 16.6666666667%;
  }

  /* line 72, ../sass/_responsivegrid.scss */
  .span_3 {
    width: 25%;
  }

  /* line 73, ../sass/_responsivegrid.scss */
  .span_4 {
    width: 33.3333333333%;
  }

  /* line 74, ../sass/_responsivegrid.scss */
  .span_5 {
    width: 41.6666666667%;
  }

  /* line 75, ../sass/_responsivegrid.scss */
  .span_6 {
    width: 50%;
  }

  /* line 76, ../sass/_responsivegrid.scss */
  .span_7 {
    width: 58.3333333333%;
  }

  /* line 77, ../sass/_responsivegrid.scss */
  .span_8 {
    width: 66.6666666667%;
  }

  /* line 78, ../sass/_responsivegrid.scss */
  .span_9 {
    width: 75%;
  }

  /* line 79, ../sass/_responsivegrid.scss */
  .span_10 {
    width: 83.3333333333%;
  }

  /* line 80, ../sass/_responsivegrid.scss */
  .span_11 {
    width: 91.6666666667%;
  }

  /* line 81, ../sass/_responsivegrid.scss */
  .span_12 {
    width: 100%;
  }

  /* line 83, ../sass/_responsivegrid.scss */
  .gutters .span_1 {
    width: 6.5%;
  }

  /* line 84, ../sass/_responsivegrid.scss */
  .gutters .span_2 {
    width: 15.0%;
  }

  /* line 85, ../sass/_responsivegrid.scss */
  .gutters .span_3 {
    width: 23.5%;
  }

  /* line 86, ../sass/_responsivegrid.scss */
  .gutters .span_4 {
    width: 32.0%;
  }

  /* line 87, ../sass/_responsivegrid.scss */
  .gutters .span_5 {
    width: 40.5%;
  }

  /* line 88, ../sass/_responsivegrid.scss */
  .gutters .span_6 {
    width: 49.0%;
  }

  /* line 89, ../sass/_responsivegrid.scss */
  .gutters .span_7 {
    width: 57.5%;
  }

  /* line 90, ../sass/_responsivegrid.scss */
  .gutters .span_8 {
    width: 66.0%;
  }

  /* line 91, ../sass/_responsivegrid.scss */
  .gutters .span_9 {
    width: 74.5%;
  }

  /* line 92, ../sass/_responsivegrid.scss */
  .gutters .span_10 {
    width: 83.0%;
  }

  /* line 93, ../sass/_responsivegrid.scss */
  .gutters .span_11 {
    width: 91.5%;
  }

  /* line 94, ../sass/_responsivegrid.scss */
  .gutters .span_12 {
    width: 100%;
  }
}
/* line 5, ../sass/styles.scss */
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: white;
}

@media (min-width: 981px) {
  /* line 18, ../sass/styles.scss */
  .wrapper {
    margin: 0 auto;
  }

  /* line 22, ../sass/styles.scss */
  h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
  }

  /* line 27, ../sass/styles.scss */
  p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }

  /* line 32, ../sass/styles.scss */
  h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
  }

  /* line 37, ../sass/styles.scss */
  h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
  }

  /* line 42, ../sass/styles.scss */
  .fontCentered {
    text-align: center;
  }

  /* line 46, ../sass/styles.scss */
  .centered {
    max-width: 80%;
    margin: 0 auto;
  }

  /* line 51, ../sass/styles.scss */
  #content1 {
    width: 300px;
    position: relative;
    right: -100px;
    padding-top: 140px;
  }

  /* line 58, ../sass/styles.scss */
  #iphonePhoto1 {
    width: 300px;
    position: relative;
    margin-bottom: -5px;
    left: -100px;
  }

  /* line 65, ../sass/styles.scss */
  .photoCenter {
    display: block;
    margin: 0 auto;
  }

  /* line 70, ../sass/styles.scss */
  .Icon1 {
    margin-bottom: 80px;
  }

  /* line 74, ../sass/styles.scss */
  .Icon2 {
    margin-top: 90px;
  }

  /* line 78, ../sass/styles.scss */
  #content1Text {
    max-width: 250px;
    margin: 0 auto;
  }

  /* line 83, ../sass/styles.scss */
  .fold {
    width: 100%;
    height: 512px;
  }

  /* line 88, ../sass/styles.scss */
  .orangeBG {
    background: #FF8700;
    margin-top: 25px;
  }

  /* line 93, ../sass/styles.scss */
  #content2 {
    position: relative;
    right: -30px;
    padding-top: 190px;
  }

  /* line 99, ../sass/styles.scss */
  #content2Text {
    width: 500px;
    padding-top: 160px;
  }

  /* line 104, ../sass/styles.scss */
  #content3 {
    padding-top: 150px;
    padding-left: 300px;
    position: relative;
  }

  /* line 110, ../sass/styles.scss */
  .imagefloat {
    position: absolute;
    top: 0;
    right: 0;
  }

  /* line 116, ../sass/styles.scss */
  .hidden2 {
    visibility: hidden;
  }

  /* line 120, ../sass/styles.scss */
  #content3Text {
    width: 400px;
  }

  /* line 124, ../sass/styles.scss */
  #content4 {
    padding-top: 190px;
  }

  /* line 128, ../sass/styles.scss */
  #content4Text {
    width: 450px;
    padding-top: 160px;
    margin-left: 180px;
  }

  /* line 134, ../sass/styles.scss */
  footer {
    padding: 10px 0px 20px 0px;
  }

  /* line 138, ../sass/styles.scss */
  hr {
    border: 0;
    height: 0;
    border-bottom: 1px solid #c9c9c9;
  }

  /* line 144, ../sass/styles.scss */
  section {
    width: 500px;
    margin-top: 100px;
    margin-bottom: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 152, ../sass/styles.scss */
  .input-and-selectList {
    list-style: none;
    margin-top: 30px;
    padding-left: 0px;
  }

  /* line 158, ../sass/styles.scss */
  input[type="text"] {
    display: block;
    margin: 0;
    width: 100%;
    appearance: none;
    box-shadow: none;
    border-radius: none;
  }

  /* line 167, ../sass/styles.scss */
  select[type="drop-down"] {
    display: block;
    margin-top: 30px;
    width: 100%;
    appearance: none;
    box-shadow: none;
    border-radius: none;
  }

  /* line 176, ../sass/styles.scss */
  .style input[type="text"] {
    padding: 10px;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    border-bottom: solid 1px #c9c9c9;
    transition: border 0.3s;
  }

  /* line 185, ../sass/styles.scss */
  .style select[type="drop-down"] {
    padding: 10px;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
  }

  /* line 194, ../sass/styles.scss */
  .footer-links {
    list-style: none;
  }
  /* line 197, ../sass/styles.scss */
  .footer-links li {
    float: left;
    margin-left: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
  }

  /* line 205, ../sass/styles.scss */
  .links {
    margin-top: 5px;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  /* line 217, ../sass/styles.scss */
  .wrapper {
    margin: 0 auto;
  }

  /* line 221, ../sass/styles.scss */
  h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
  }

  /* line 226, ../sass/styles.scss */
  p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
  }

  /* line 231, ../sass/styles.scss */
  h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
  }

  /* line 236, ../sass/styles.scss */
  h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
  }

  /* line 241, ../sass/styles.scss */
  .fold {
    width: 100%;
    height: auto;
  }

  /* line 246, ../sass/styles.scss */
  .centered {
    max-width: 80%;
    margin: 0 auto;
  }

  /* line 251, ../sass/styles.scss */
  .orangeBG {
    background: #FF8700;
  }

  /* line 255, ../sass/styles.scss */
  #content1 {
    width: 500px;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
  }

  /* line 262, ../sass/styles.scss */
  .photoCenter {
    display: block;
    margin: 0 auto;
  }

  /* line 267, ../sass/styles.scss */
  #content2 {
    width: 200px;
    padding-top: 190px;
  }

  /* line 272, ../sass/styles.scss */
  #content2Text {
    width: 400px;
    position: relative;
    right: -200px;
    top: -230px;
  }

  /* line 279, ../sass/styles.scss */
  #content3 {
    padding-top: 20px;
    padding-left: 160px;
    position: relative;
  }

  /* line 285, ../sass/styles.scss */
  .imagefloat {
    position: absolute;
    top: 0;
    right: 0;
  }

  /* line 291, ../sass/styles.scss */
  #content3Text {
    width: 350px;
  }

  /* line 295, ../sass/styles.scss */
  #content4 {
    width: 200px;
    padding-top: 190px;
    position: relative;
    right: -400px;
    top: -340px;
  }

  /* line 303, ../sass/styles.scss */
  #content4Text {
    width: 400px;
    padding-top: 400px;
    margin-left: 50px;
  }

  /* line 309, ../sass/styles.scss */
  section {
    width: 500px;
    margin-top: 100px;
    margin-bottom: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 317, ../sass/styles.scss */
  .input-and-selectList {
    list-style: none;
    margin-top: 30px;
    padding-left: 0px;
  }

  /* line 323, ../sass/styles.scss */
  input[type="text"] {
    display: block;
    margin: 0;
    width: 100%;
    appearance: none;
    box-shadow: none;
    border-radius: none;
  }

  /* line 332, ../sass/styles.scss */
  .style input[type="text"] {
    padding: 10px;
    border: none;
    border-bottom: solid 1px #c9c9c9;
    transition: border 0.3s;
  }

  /* line 339, ../sass/styles.scss */
  select[type="drop-down"] {
    display: block;
    margin-top: 30px;
    width: 100%;
    appearance: none;
    box-shadow: none;
    border-radius: none;
  }

  /* line 348, ../sass/styles.scss */
  .style select[type="drop-down"] {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
  }

  /* line 355, ../sass/styles.scss */
  .footer-links {
    list-style: none;
  }
  /* line 358, ../sass/styles.scss */
  .footer-links li {
    float: left;
    margin-left: 10px;
    font-size: 12px;
  }

  /* line 365, ../sass/styles.scss */
  .links {
    margin-top: 5px;
  }
}
@media (min-width: 380px) and (max-width: 767px) {
  /* line 377, ../sass/styles.scss */
  .wrapper {
    margin: 0 auto;
  }

  /* line 381, ../sass/styles.scss */
  h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
  }

  /* line 386, ../sass/styles.scss */
  p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
  }

  /* line 391, ../sass/styles.scss */
  h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
  }

  /* line 396, ../sass/styles.scss */
  h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
  }

  /* line 401, ../sass/styles.scss */
  .fold {
    width: 100%;
    height: auto;
  }

  /* line 406, ../sass/styles.scss */
  .centered {
    max-width: 80%;
    margin: 0 auto;
  }

  /* line 411, ../sass/styles.scss */
  .orangeBG {
    background: #FF8700;
  }

  /* line 415, ../sass/styles.scss */
  #content1 {
    width: 500px;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
  }

  /* line 422, ../sass/styles.scss */
  .photoCenter {
    display: block;
    margin: 0 auto;
  }

  /* line 427, ../sass/styles.scss */
  #content2 {
    padding-top: 190px;
  }

  /* line 431, ../sass/styles.scss */
  #content2Text {
    width: 300px;
    padding-bottom: 50px;
    margin: 0 auto;
    text-align: center;
  }

  /* line 438, ../sass/styles.scss */
  #content3 {
    padding-top: 20px;
    padding-left: 160px;
    position: relative;
  }

  /* line 444, ../sass/styles.scss */
  .imagefloat {
    position: absolute;
    top: 150px;
    right: -100px;
  }

  /* line 450, ../sass/styles.scss */
  #content3Text {
    width: 250px;
  }

  /* line 454, ../sass/styles.scss */
  #content4 {
    width: 200px;
    padding-top: 190px;
    position: relative;
    top: -550px;
    margin: 0 auto;
  }

  /* line 462, ../sass/styles.scss */
  #content4Text {
    width: 400px;
    padding-top: 500px;
    margin-left: 50px;
  }

  /* line 468, ../sass/styles.scss */
  section {
    width: 500px;
    margin-bottom: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 475, ../sass/styles.scss */
  .input-and-selectList {
    list-style: none;
    margin-top: 30px;
    padding-left: 0px;
  }

  /* line 481, ../sass/styles.scss */
  input[type="text"] {
    display: block;
    margin: 0;
    width: 100%;
    appearance: none;
    box-shadow: none;
    border-radius: none;
  }

  /* line 490, ../sass/styles.scss */
  .style input[type="text"] {
    padding: 10px;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    border-bottom: solid 1px #c9c9c9;
    transition: border 0.3s;
  }

  /* line 499, ../sass/styles.scss */
  select[type="drop-down"] {
    display: block;
    margin-top: 30px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
  }

  /* line 510, ../sass/styles.scss */
  .style select[type="drop-down"] {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
  }

  /* line 517, ../sass/styles.scss */
  .footer-links {
    list-style: none;
  }
  /* line 520, ../sass/styles.scss */
  .footer-links li {
    float: left;
    margin-left: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
  }

  /* line 528, ../sass/styles.scss */
  .links {
    margin-top: 5px;
  }
}
